@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.container {
  height: 80vh;
}

.form-reg {
  @apply flex flex-col w-52 md:w-96;
}
.form-login {
  @apply flex flex-col w-52 md:w-72;
}
.form-reg input,
.form-login input {
  @apply bg-gray-600 border-0 outline-none accent-cyan-light rounded-md caret-cyan-light;
}
.form-reg label,
.form-login label {
  @apply mb-1 mt-1;
}
.btn {
  @apply mt-4 bg-cyan-light transform ease-in-out  w-64 md:w-52 flex justify-center items-center p-2  rounded-md border-0 capitalize;
}
.dash-card {
  @apply bg-black-light border-2 border-slate-600 rounded-sm p-2 flex md:w-[750px] md:h-[50px] justify-between mb-1;
}

.text-danger {
  color: orangered;
}
